.raw
  .columns.medium-8.medium-offset-2.content
    
    .columns.medium-3.sub-content
      input(type='text', placeholder='Type location' ui-keypress="{13:'main.addMarker(form)'}" ng-model="form.location")

      .location(ng-repeat='location in main.locations'
        data-drop="true"
        data-drag="true"
        ng-model='main.locations'
        data-jqyoui-options="{revert: 'invalid'}"
        jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}"
        jqyoui-droppable="{index: {{$index}}}"
        data-direction="{{location.jqyouiDirection}}")
        .raw
            span {{location.name}} 
            span.remove-location-btn(ng-click='main.removeMarker($index)') X

    .columns.medium-9.sub-content
      y-map
